:root {
    --primary-color: rgb(117, 107, 107);
    --secondary-color: orange;
    --text-color: black;
    --button-color: lightblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--primary-color);
}

#main-header {
    height: 150px;
    background-color: var(--button-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-header h1 {
    padding: 15px;
}

#start {
    background-color: var(--secondary-color);
    border: 2px outset var(--secondary-color);
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
}

#start:hover {
    color: red;
}

#game {
    width: 100%;
}

#game h2 {
    text-align: center;
    padding: 25px;
}

#main-grid {
    display: grid;
    grid-template: repeat(4, 7vw)/repeat(4, 7vw);
    max-width: fit-content;
    margin: 0 auto;
    height: 100%;
    grid-gap: 25px;
    align-items: center;
    justify-items: center;
    padding: 2.5vw;
}

.box {
    background-color: var(--secondary-color);
    height: 100%; 
    width: 100%;
    align-self: center;
    border: 1px black solid;
    align-self: center;
    justify-self: center;
    position: relative;
    
}

.found {
    border: 1px transparent solid;
    border-radius: 50%;
    pointer-events: none;
}

.pointer-none {
    pointer-events: none;
}