/* ----------General declarations---------- */
:root {
    --primary-color: rgba(0, 34, 112, 0.4);
    --secondary-color: rgba(97,76,131,1);
    --text-color: white;
    --button-color: rgba(26, 168, 233, 0.6);
    --first-tiles: url(/images/backgrounds/clouds.png);
    --second-tiles: url(/images/backgrounds/glass.jpg);
    --third-tiles: url(/images/backgrounds/leaves.jpg);
    --first-background: url(/images/backgrounds/seaclouds.jpg);
    --second-background: url(/images/backgrounds/stars.jpg);
    --third-background: url(./images/backgrounds/conifer.jpg);
}
html {
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Tomorrow', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-color);
    background-image: var(--first-background);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;

}

/* ----------Header menu---------- */

#main-header {
    height: 10vh;
    background-color: var(--button-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#left-panel {
    width: 25%;
    padding: 10px;
}

#mobile-icon {
    display: none;
    cursor: pointer;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-row p {
    flex: 1;
    margin-left: 10px;
}

#music-toggle, #sound-toggle {
    width: 107px;
}

#timer {
    display: none;
    font-size: 80px;
}

#main-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.buttons {
    display: flex;
    margin: 0 auto;
    min-width: 100%;
}

#title {
    margin-right: 86px;
    font-size: 32px;
    font-weight: bold;
}

.animated {
    animation: scroll 1s linear infinite alternate;
    animation-delay: 2s;
    transform: translateX(50px);
    width: 100%;
    color: transparent;
}

.animated::before {
    content: "Welcome to the Memory Game!";
    color: white;
    animation: text-change 15s linear infinite normal;
    animation-delay: 2s;
}

@keyframes scroll {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(-50px)
    }

}

@keyframes text-change {
    0% {
        content: "Welcome to the Memory Game!"
    }

    25% {
        Content: "Click any of the boxes to start"
    }

    50% {
        content: "Time will start automatically"
    }

    75% {
        content: "Good luck and have fun!"
    }
}

.controls {
    background-color: rgba(108, 81, 133, 0.4);
    display: flex;
    flex-direction: column;
    min-width: 20%;
    justify-content: space-around;
}

.game-button {
    background: var(--secondary-color);
    cursor: pointer;
    font-family: 'Tomorrow', sans-serif;
    color: white;
}

.small {
    border: 3px outset rgb(64, 50, 87);
    padding: 5px;
    margin: 2px 4px;
    width: 33%;
}

.small:active {
    border: 3px inset rgb(64, 50, 87);
}


#start {
    border: 5px outset rgb(64, 50, 87);
    margin: 10px auto 0 auto;
    padding: 15px;
    font-size: 18px;
    display: none;
}

#start:hover {
    box-shadow: 0px 0px 2px black;
}

#start:active {
    border: 5px inset rgb(64, 50, 87);
}

#game {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#main-grid {
    display: grid;
    max-width: fit-content;
    margin: 0 auto;
    grid-gap: 25px;
    align-items: center;
    justify-items: center;
    padding: 1vw;
}

.box {
    background-image: var(--first-tiles);
    background-position: center;
    background-size: cover;
    height: 9vw; 
    width: 9vw;
    align-self: center;
    border: 1px black solid;
    align-self: center;
    justify-self: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.7s ease-in;
    border: 2px outset rgb(118, 101, 134);
}

.box:hover {
    box-shadow: 0px 0px 10px black;
}

.four-columns {
    grid-template-columns: repeat(4, 9vw);
    grid-template-rows: repeat(4, 9vw);
}

.six-columns {
    grid-template-columns: repeat(6, 9vw);
    grid-template-rows: repeat(4, 9vw);
}

.nine-columns {
    grid-template-columns: repeat(9, 9vw);
    grid-template-rows: repeat(4, 9vw);
}

.found {
    border: 2px rgb(5, 204, 5) solid;
    pointer-events: none;
    box-shadow: none;
    transform: scale(0);
    animation: poof 2s ease-out forwards;
    
}

@keyframes poof {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75
    }
    50% {
        opacity: 0.5
    }
    75% {
        opacity: 0.25
    }
    100% {
        opacity: 0;
    }
}

.pointer-none {
    pointer-events: none;
}

@media only screen and (max-height: 400px) {
    #main-header {
        justify-content: flex-start;
        flex-direction: column;
        height: 12vh;

    }
    #left-panel, #right-panel {
        width: 100%;
        padding: 0;
    }
   
    #left-panel p, #right-panel p {
        display: none;
    }

    #mobile-icon {
        display: none;
        width: 5vh;
        height: auto;
    }

    #left-panel button, #right-panel button {
        font-size: 10px;
    }

    .controls {
        flex-direction: row;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
        min-width: 100%;
        margin: 0 auto;
        padding: 5px;
    }

    #main-text {
        min-height: 3vh;
    }

    #title {
        font-size: 16px;
        margin: 0;
        padding: 0;
        min-width: 100%;
        max-height: 2vh;
    }

    #timer {
        font-size: 30px;
    }

    .game-button {
        border: 2px solid black;
    }

    .game-button:active {
        border: 2px solid black;
    }
    
    #start {
        margin: 10px;
        padding: 6px;
        border: 2px solid black;
    }

    #start:active {
        border: 2px solid black
    }

    #main-grid {
        grid-gap: 6px;
        justify-items: center;
        align-items: center;
        justify-items: center;
    }

    .box {
        width: 9vw;
        height: 9vw;
        border: none;
    }
    .box:hover {
        border: 2px solid red;
    }

}

@media only screen and (max-width: 950px) and (min-height: 401px) {
    #main-header {
        justify-content: flex-start;
        flex-direction: column;
        height: 12vh;

    }
    #left-panel, #right-panel {
        width: 100%;
        padding: 0;
    }
   
    #left-panel p, #right-panel p {
        display: none;
    }

    #mobile-icon {
        display: none;
        width: 5vh;
        height: auto;
    }

    #left-panel button, #right-panel button {
        font-size: 10px;
        
    }

    .button-row {
        width: 50%;
        border: 1px solid yellow;
    }

    .controls {
        flex-direction: row;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
        min-width: 100%;
        margin: 0 auto;
        padding: 5px;
        border: 3px solid blue;
    }

    .small {
        
    }

    #main-text {
        min-height: 3vh;
    }

    #title {
        font-size: 16px;
        margin: 0;
        padding: 0;
        min-width: 100%;
        max-height: 2vh;
    }

    #timer {
        font-size: 30px;
    }

    .game-button {
        border: 2px solid black;
    }

    .game-button:active {
        border: 2px solid black;
    }
    
    #start {
        margin: 10px;
        padding: 6px;
        border: 2px solid black;
    }

    #start:active {
        border: 2px solid black
    }

    #main-grid {
        grid-template-columns: repeat(6, 14vw);
        grid-template-rows: repeat(auto-fill, 14vw);
        grid-gap: 9px;
        justify-items: center;
        align-items: center;
        justify-items: center;
    }

    .box {
        width: 14vw;
        height: 14vw;
    }
    .box:hover {
        
    }


}

@media only screen and (min-width: 950px) and (max-width: 1480px) {
    #left-panel p, #right-panel p {
        display: none;
    }

    #left-panel {
        width: 28%
    }
    
    #left-panel button, #right-panel button {
        font-size: 11px;
    }
    #title {
        font-size: 22px;
        margin-right: 22px;
    }

    #main-grid {
        grid-gap: 10px;
    }

}

