:root {
    --primary-color: rgb(117, 107, 107);
    --secondary-color: rgb(218, 197, 7);
    --text-color: black;
    --button-color: lightblue;
    --starting-background: url(images/tiles.jpg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Tomorrow', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-color);
}

#main-header {
    height: 150px;
    background-color: var(--button-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-header h1 {
    padding: 15px;
}

#start {
    background-color: var(--secondary-color);
    border: 5px outset yellow;
    margin: 0 auto;
    padding: 15px;
    cursor: pointer;
    font-family: 'Tomorrow', sans-serif;

}

#start:hover {
    box-shadow: 0px 0px 2px black;
}

#start:active {
    border: 5px inset yellow;
}

#game {
    width: 100%;
}

#game h2 {
    text-align: center;
    padding: 25px;
}

#main-grid {
    display: grid;
    grid-template: repeat(4, 9vw)/repeat(4, 9vw);
    max-width: fit-content;
    margin: 0 auto;
    height: 100%;
    grid-gap: 25px;
    align-items: center;
    justify-items: center;
    padding: 2.5vw;
}

.box {
    background: var(--starting-background);
    height: 100%; 
    width: 100%;
    align-self: center;
    border: 1px black solid;
    align-self: center;
    justify-self: center;
    position: relative;
    cursor: pointer;
    
}

.center {
    background-position: center;
    background-size: cover;
}

.box:hover {
    box-shadow: 0px 0px 10px black;
}

.found {
    border: 3px rgb(5, 204, 5) solid;
    border-radius: 10%;
    pointer-events: none;
    box-shadow: none;
}

.pointer-none {
    pointer-events: none;
}